<section id="header" >
    <div
        class="mx-auto pt-11 px-5 sm:mt-2 sm:px-10 md:max-w-[1244px] md:px-16 lg:mt-2 lg:px-12 xl:mt-2 xl:px-4"
    >
        <div class="z-20">
            <!-- title -->
            <h1
                class="z-10 text-[2rem] font-bold tracking-tighter mob:text-[2.6rem] md:text-[4rem] "
            >
                iyusxz yusup.
            </h1>

            <!-- subtitle -->
            <p
                class="header-subtitle mt-1 text-[2.2rem] font-bold lowercase leading-[100%] tracking-tight mob:text-[3.4rem] sm:mt-3 sm:text-[4rem] md:mt-1.5 md:text-[5rem] md:leading-[5rem] md:tracking-[-0.06em] lg:max-w-[850px] xl:max-w-[1200px] xl:text-[5.9rem] xl:leading-[6.25rem]"
            >
                <span
                    class="md:min-w-none max-md:block max-md:max-w-[420px] max-md:text-[90px] max-md:leading-[85%] max-md:tracking-[-0.06em] max-sm:max-w-[360px] max-sm:text-[85px] max-mob:max-w-[310px] max-mob:text-[70px]"
                >
                    a
                    <span class="no-text-fill-color relative">
                        <span class="z-[1] text-[#294049]">happy</span>
                    </span>
                    full-stack developer
                </span>
                <br class="hidden xl:block" />

                <span
                    class="my-20 max-md:mt-8 max-md:inline-block max-md:max-w-[300px] max-md:text-[38px] max-md:font-semibold max-md:leading-100 max-md:tracking-tighter max-sm:mt-6 max-sm:max-w-[261px] max-sm:text-[32px]"
                >
                    who aims to help others grow in
                    <span
                        class="no-text-fill-color relative text-[#294049] md:inline-block"
                    >
                        <span>web</span>
                        <span>development</span>
                    </span>
                </span>
            </p>
        </div>
    </div>
</section>
