---
import Introduce from "../components/Introduce.astro";
import Navbar from "../components/Navbar.astro";
import Projects from "../components/projects/Project.astro";
import MainHead from "./MainHead.astro";
import Dolan from "../components/projects/Dolan.astro";
import Bukukita from "../components/projects/Bukukita.astro";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
   <MainHead {title} />
   <body>
      <Navbar />
      <Introduce />
      <Projects id="projects"/>
      <Dolan />
      <Bukukita/>
      
     

     
   </body>
</html>
